# Keycloak Configuration
VITE_KEYCLOAK_URL="https://keycloak.yourdomain.com"
VITE_KEYCLOAK_REALM="miraitrack"
VITE_KEYCLOAK_CLIENT_ID="miraitrack-app"

# Supabase Configuration
VITE_SUPABASE_URL="http://supabasekong-q008k80ws0kosc40c0o8k040.77.37.44.1.sslip.io"
VITE_SUPABASE_ANON_KEY="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjM1MDI4MCwiZXhwIjo0OTMyMDIzODgwLCJyb2xlIjoiYW5vbiJ9.oM7a2tPqTdLSGP1rtAGr3zD8j0S6klOacV9dqpvTcaA"

# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

